
body{
  font-family: "Montserrat" !important;
}
#title{
  background-color: #ff4c68;
      color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.navbar{
  padding-bottom: 2rem !important;
}

.nav-item{
  padding: 0 18px;
}
h2{
  color: #fff;
  font-family: Montserrat;
  font-weight: 700 !important;
  line-height: 1.5!important;
}

h1 {
       font-family: 'Montserrat, sans-serif' !important;
        font-size: 4rem !important;
        line-height: 1 !important;
        font-weight: 600 !important;

}
.navbar-brand{
  font-size: 2rem !important;
  font-weight: 600 !important;
}
.download-btn{
  margin: 5% 3% 5% 0 !important;
}
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;

}
/* features */
#features{
  padding: 7% 13%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.icon{
  color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
  cursor: pointer;
}
.feature-box{
  text-align: center;
  padding: 5% 7% !important;
}
.feature-box h3{
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: bold;

}
 p{
  font-family: poppins;
  color: #8f8f8f;
  text-align: center;
}
/* testimonials */
#testimonials{
  padding: 7% 15%;
  background-color: #ef8172;
  text-align: center;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 10px;

}
/* press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 0 2% 3% 2%;
}
.press-logo{
  width: 15%;
  margin: 20px ;
}
#cta{
    padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;

}
#cta h3{
  color: #fff;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 700 !important;
  line-height: 1.5!important;
}
#cta .download-btn{
  margin: 5% 2% 5% 0 !important;
}

#footer{
  padding: 7% 15% 2px;
background-color: #fff;
text-align: center;

}

#footer p{
  font-family: poppins;
  color: #8f8f8f;

}
#footer p a {
  color: #8f8f8f;
  text-decoration: none;
  font-size: 22px;
padding-right: 12px;

}
#footer p a:hover{
  color: #ff4c68;
}
@@media (max-width: 1028px) {
  .title-img{
    width: 1990% !important;
    transform: rotate(-25deg);
    position: static;
  }

}
@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-img{
    height: 500px;
    width: 300px;
    transform: rotate(0) !important;
    position: static !important;
    padding-bottom: 3%;
  }
}
